#logo{
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
    border-bottom: 15px;
}

.navbar{
    margin-bottom: 0px;
}

#alignment_right{
    text-align: right;
}

#resized{
    max-width:100%; 
    max-height:100%;
}


.footer_color{
    background-color: darkgray;
}

.clearer{
    clear:both;
}

.n_m{
    background: #fff !important;
    border: none;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.n_m .n_i{
    color: #333;
}
.n_m .n_i .n_i_t{
    font-size:22px;
    font-weight: 600;
    color: #888;
} 
.n_m .n_i .n_i_o{
    font-size:17px;
    font-style: italic;
    color:#aaa;
    margin-top:4px;
}
.n_m .n_i .n_i_p{
    margin-top:20px;
    text-align: right;
    color:#ccc;
}
.n_i_a{
    border-left:1px solid #cecece;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.img-lib{
    width:300px;
    height:200px;
}

.btn-bottom{
    position: absolute;
    left:    30px;
    bottom:   30px;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
.footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}