<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>
    </head>

    <body>
        <%include ../views/header.ejs %>
        <br>
        <div class="container">   
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/universita.jpg" alt="universita">
                        <div class="caption">
                            <h3>University Places</h3>
                            <p>Here you can find places of University of Trento like Libraries, UniTN Departements and more</p>
                            <p><a href="<%=host%>/university" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div> 
            </div>
            <br>
            <div class="row">  
                <div class="col-md-4"></div> 
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/citta.jpg" alt="city">
                        <div class="caption">
                            <h3>City Places</h3>
                            <p>Here you can find places of City of Trento like Squares, Castels, monuments and more</p>
                            <p><a href="<%=host%>/city" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>       
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>