<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Places Categories</title>
        <meta name="description" content="Home page of Discover Trento Web-Application">
        <meta name="author" content="MarianDiaconu">
        <!-- Favicon -->
        <link rel="icon" href="img/favicon.ico">
        <!-- Bootstrap Latest compiled and minified CSS -->
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/home.css">
        
        <title> Login </title>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-4"></div>
                
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/universita.jpg" alt="universita">
                        <div class="caption">
                            <h3>University Places</h3>
                            <p>Here you can find places of University of Trento like Libraries, UniTN Departements and more</p>
                            <p><a href="http://localhost:5000/university" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4"></div>
                
            </div>
            
            <br>
            
            <div class="row">
                
                <div class="col-md-4"></div>
                
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/dante.jpg" alt="city">
                        <div class="caption">
                            <h3>City Places</h3>
                            <p>Here you can find places of City of Trento like Squares, Castels, monuments and more</p>
                            <p><a href="#" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4"></div>
                
            </div>

            
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="     crossorigin="anonymous"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../scripts/tryLogin.js"></script> 
    </body>

</html>