<!DOCTYPE html>
<html>
    <head>
        <!-- metadata --> 
        <%include ../views/head.ejs %>
        <title>City</title>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">           
            <div class="row">
                <div class="col-md-4"></div>               
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/dante.jpg" alt="universita">
                        <div class="caption">
                            <h3>Monuments</h3>
                            <p>Here you can find Monuments of Trento city like Cesare Battisti Mausoleum and more</p>
                            <p><a href="https://blooming-reef-42377.herokuapp.com/monuments" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>               
                <div class="col-md-4"></div>               
            </div>          
            <br>           
            <div class="row">             
                <div class="col-md-4"></div>             
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/piazza.jpg" alt="city">
                        <div class="caption">
                            <h3>Squares</h3>
                            <p>Here you can find squares of Trento City like Dante Square, Venezia square and more</p>
                            <p><a href="https://blooming-reef-42377.herokuapp.com/squares" class="btn btn-primary" role="button">See Places</a> 
                            </p>
                        </div>
                    </div>
                </div>         
                <div class="col-md-4"></div>
            </div>
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>