<footer class="footer footer_color">
    <div class="container">
        <p class="alignment_right">© 2016 Discover Trento, A project made by 
            <span>Marian Alexandru Diaconu.</span>
            <a href="http://localhost:5000/login" type="button" class="btn btn-default navbar-btn">Sign in</a>
        </p>
    </div>
</footer>