 <!-- Barra -->
 <nav class="navbar navbar-inverse navbar-ficex-top">
    <div class="container">            
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:5000/">
                Discover Trento 
                <small>
                    and surroundings 
                </small>
            </a>
        </div>        
        <div id="navbar" class="navbar-collapse collapse">            
            <form method="post" action="https://blooming-reef-42377.herokuapp.com/search" class="navbar-form navbar-right">                
                <div class="input-group">
                    <input name="placesearch" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            Go!
                        </button>
                    </span>
                </div>        
                <a type="button" href="https://blooming-reef-42377.herokuapp.com/categories" class="btn btn-primary" aria-haspopup="true" aria-expanded="false">
                    Places
                </a>        
                <a type="button" href="https://blooming-reef-42377.herokuapp.com/events" class="btn btn-primary" aria-haspopup="true" aria-expanded="false">
                    Events
                </a>        
                <a type="button" href="https://blooming-reef-42377.herokuapp.com/news" class="btn btn-primary" aria-haspopup="true" aria-expanded="false">
                    News
                </a>            
            </form>
        </div>
    </div>
</nav>