<!DOCTYPE html>
<html>
    <head>        
        <!-- metadata -->
        <%include ../views/head.ejs %>
    </head>

    <body>  
        <% include ../views/header.ejs %>
        
        <div class="container">
            <br>
            <div class="alert alert-info" role="alert">
                Here you can insert new 
                <b>
                    content
                </b> 
                for the site!<br>
                *all the fields are required<br>
                Here you can also: <a href="<%=host%>/logout" type="button" class="btn btn-default navbar-btn">Log out</a>

            </div>
            
            <h2>Private Space</h2>
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#home">Insert Places</a></li>
                <li><a data-toggle="tab" href="#menu1">Insert News</a></li>
                <li><a data-toggle="tab" href="#menu2">Insert Events</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br>
                    <div class="thumbnail">
                        <h3>
                            <span class="label label-default">
                                Insert a Place
                            </span>
                        </h3>
                        <br>
                        <form id="placeForm">                            
                            <label>
                                Name:
                            </label><br>
                            <input id="placeName" name="placeName" type="text" maxlength="50"/><br>
                            
                            <label>
                                Address:
                            </label><br>
                            <input id="placeAddress" name="placeAddress" type="text" maxlength="200"/><br>
                            
                            <label>
                                History:
                            </label><br>
                            <textarea id="placeHistory" name="placeHistory" rows="6" cols="25" type="text"></textarea><br>
                            
                            <label>
                                Other Info:
                            </label><br>
                            <textarea id="placeInfo" name="placeInfo" rows="6" cols="25" type="text"></textarea><br>
                            
                            <label>
                                Type:
                            </label> <br>
                            <input id="placeType" name="placeType" type="number" min="0" max="3">
                            <i>
                                <br>0 for University Department<br>
                                1 for Libraries <br>
                                2 for City Squares<br>
                                3 for Monuments<br>
                                <br>
                            </i>
                            
                            <button id="place_btn" class="btn btn-success" type="button" >Insert Place</button>
                        </form>
                    </div>
                </div>
                  
                <div id="menu1" class="tab-pane fade">
                    <br>
                      <div class="thumbnail">
                        <h3><span class="label label-default">Insert News</span></h3>
                        <br>
                        <form id="news_form">
                            <!-- check if a message is needed -->

                            <label>
                                Title:
                            </label><br>
                            <input type="text" name="title" id="title" maxlength="45"><br>
                            
                            <label>
                                Description:
                            </label><br>
                            <textarea rows="6" cols="25" type="text" name="desc" id="desc" ></textarea><br>
                            <label>
                                Date:
                            </label><br>
                            <input type="text" name="data" id="data" maxlength="19"><br>
                            
                            <label>
                                Hour:
                            </label><br>
                            <input type="text" name="hour" id="hour" maxlength="19"><br>
                            
                            <label>
                                Place Name:
                            </label><br>
                            <input type="text" name="place" id="place" maxlength="45"><br>
                            <br><br>
                            <button id="news_btn" class="btn btn-success" type="button" >
                                Insert News
                            </button>
                        </form>
                    </div>
                </div>
                  
                <div id="menu2" class="tab-pane fade">
                    <br>
                    <div class="thumbnail">
                        <h3><span class="label label-default">Insert an Event</span></h3>
                        <br>
                        <form method="POST" id="eventForm">
                            <label>
                                Name:
                            </label><br>
                            <input  id="eventName" name="eventName" type="text" maxlength="95"><br>
                            
                            <label>
                                Address:
                            </label><br>
                            <input id="eventAddress" name="eventAddress" type="text" maxlength="195"><br>
                            
                            <label>
                                Date:
                            </label><br>
                            <input id="eventData" name="eventData" type="text" maxlength="100"><br>
                            
                            <label>
                                Hours Range:
                            </label><br>
                            <input id="eventHours" name="eventHours" type="text" maxlength="95"><br>
                            
                            <label>
                                Description:
                            </label><br>
                            <textarea id="eventDesc" name="eventDesc" rows="6" cols="25" type="text"></textarea><br>
                            
                            <label>
                                Cost:
                            </label><br>
                            <input id="eventCost" name="eventCost" type="text" maxlength="40"/><br>
                            
                            <label>
                                Place Name:
                            </label><br>
                            <input id="eventPlace" name="eventPlace" type="text" maxlength="40"/><br>
                            
                            <label>
                                Type:
                            </label><br>
                            <input id="eventType" name="eventType" type="number" min="0" max="4"/>
                            <i>
                                <br>0 for University Event<br>
                                1 for Politics <br>
                                2 for Culture <br>
                                3 for Local News <br>
                                4 for Music <br>
                            </i>
                            <button id="event_btn" class="btn btn-success" type="button">
                                Insert Event
                            </button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
        <script src="scripts/tryInsert.js"></script>
    </body>

</html>
