<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Libraries of Trento</title>
        <meta name="description" content="Home page of Discover Trento Web-Application">
        <meta name="author" content="MarianDiaconu">
        <!-- Favicon -->
        <link rel="icon" href="img/favicon.ico">
        <!-- Bootstrap Latest compiled and minified CSS -->
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/home.css">
        
        <title> Login </title>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">
            <br>
            <!-- cycle for putting 3 elements on every row -->
            <% var x=0;
               libraries.forEach(function (l){ 
                    if (x%3==0){ 
            %>
                        <div class="row">
                    <% } 
                        x++;
                    %>  
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail img-responsive" style="width:310px; height:350px;">
                                    <div class="thumb-container">
                                        <img class="img-rounded img-thumbnail img-lib" width="300px" height="200px" src="../img/photo/<%=l.photo%>" alt="<%=l.id%>biblio">
                                    </div>

                                    <div class="caption">
                                        <h3><%=l.name%></h3>

                                        <form method="POST" action="http://localhost:5000/place">
                                            <input type="hidden" name="placeId" value="<%=l.id%>">
                                            <p>
                                                <button class="btn btn-primary btn-bottom" type="submit">Details</button>
                                            </p>    
                                        </form>                
                                    </div>
                                </div>
                            </div>
            <% }) %>
                        </div>
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="     crossorigin="anonymous"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../scripts/tryLogin.js"></script> 
    </body>

</html>