<!DOCTYPE html>
<html>
    <head>
        <!-- metadata -->
        <%include ../views/head.ejs %>
        
        <title>University Categories</title>
    </head>

    <body>
        <% include ../views/header.ejs %>
        <br>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/biblioteca.jpg" alt="biblioteca">
                        <div class="caption">
                            <h3>Libraries</h3>
                            <p>Here you can find all Libraries of Trento City</p>
                            <p><a href="https://blooming-reef-42377.herokuapp.com/libraries" class="btn btn-primary" role="button">See Libraries</a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="../img/departaments.jpg" alt="departments">
                        <div class="caption">
                            <h3>UniTN Departments</h3>
                            <p>Here you can find all the Deprtaments of University of Trento</p>
                            <p><a href="https://blooming-reef-42377.herokuapp.com/departments" class="btn btn-primary" role="button">See Departaments</a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        
        <br><br><br>
        <% include ../views/footer.ejs %>
        
        <!-- Scripts -->
        <%include ../views/tail.ejs %>
    </body>

</html>